<article class = "post">
    <header>
        <h2 class = "post__title"> 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        </h2>
    </header>

    <div class = "post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quisquam, quod. Quisquam, quod. Quisquam, quod. Quisquam, quod.
            Quisquam, quod. Quisquam, quod. Quisquam, quod. Quisquam, quod.
            Quisquam, quod. Quisquam, quod. Quisquam, quod. Quisquam, quod.
            Quisquam, quod. Quisquam, quod. Quisquam, quod. Quisquam, quod.
            Quisquam, quod. Quisquam, quod. Quisquam, quod. Quisquam, quod.
                Quisquam, quod. Quisquam, quod. 
    </div>
</article>
